@import "tailwindcss";

body {
  background-color: rgba(241, 247, 241, 1);
  margin: 0;
  padding: 0;
}

html {
  background-color: rgba(241, 247, 241, 1);
}

/* Custom scrollbar */
.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Tailwind gray-400 */
  border-radius: 9999px;
}

.scrollable::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Tailwind gray-100 */
}